<div id="business" class="container">
    <div class="row">
        <div class="col-xs-12 title">
            <h3 class="text-center">公司致力于系统集成、软件开发、多媒体大屏显示、存储和数据管理、<br>产品分销，提供全套的技术支持及解决方案。</h3>
        </div>

        <div class="col-xs-3">
            <a href="#/news/column/101">
                <section class="tag">
                    <i class="fa fa-laptop"></i>
                    <h4>系统集成</h4>
                    <small>以市场为先导<br>以集成倡导服务</small>
                </section>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/news/column/102">
                <section class="tag">
                    <i class="fa fa-users"></i>
                    <h4>软件开发</h4>
                    <small>优质产品 高效服务<br>以人为本 客户至上</small>
                </section>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/news/column/103">
                <section class="tag">

                    <i class="fa fa-life-ring"></i>
                    <h4>解决方案</h4>
                    <small>从传输到控制，从播放到特效显示，<br>提供全系列多媒体创新展示解决方案</small>
                </section>
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#/news/column/104">
                <section class="tag">
                    <i class="fa fa-shopping-cart"></i>
                    <h4>产品分销</h4>
                    <small>专业 确保完善品质<br>专注 缔造完美服务</small>
                </section>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" ng-repeat="x in businessList" style="margin-top: 48px;">
            <img class="img-responsive" ng-src="{{x.src2}}">

            <h3 class="col-xs-10 col-xs-offset-2" ng-bind="x.subTitle"></h3>
            <h4 class="col-xs-10 col-xs-offset-2" style="line-height: 28px;" ng-bind="x.content"></h4>

            <div class="col-xs-10 col-xs-offset-2"><a ng-href="{{x.url}}" class="btn btn-blue">查看更多</a></div>

        </div>
    </div>
</div>

