<div class="container" ng-show="showColumn">
    <div class="row news-column">
        <div class="col-sm-6 col-md-6" ng-repeat="x in contentList">
            <section>
                <h4 ng-bind="x.title"></h4>
            <span>
                <a ng-href="" class="txt-blue">{{x.contentColumn.title}}</a> &nbsp;&nbsp;&nbsp;&nbsp;{{x.eventTime|date:'yyyy-MM-dd HH:mm'}}
            </span>
                <a ui-sref="{{'business.column.detail'}}({contentId:x.id})" class="btn btn-blue">查看更多</a>
                <b></b>
            </section>
        </div>
    </div>
</div>
<div ui-view></div>