<div id="contact" class="container">
    <div class="row">
        <div class="col-xs-12">
            <section class="map">
                <h3>我们在这里</h3>
                <small>We are here!</small>
                <img class="img-responsive img-rounded" src="static/images/map.png">
            </section>
        </div>

        <div class="col-xs-12">
            <section class="contact">
                <h3>联系我们</h3>
                <small>Contact us!</small>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="col-xs-6">
                            <img class="img-responsive img-rounded" src="static/images/c_1.png">
                        </div>
                        <div class="col-xs-6">
                            <h4>业务咨询</h4>
                            <small>Business Consulting</small>
                            <img src="static/images/qq.png">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-6">
                            <img class="img-responsive img-rounded" src="static/images/c_2.png">
                        </div>
                        <div class="col-xs-6">
                            <h4>投诉建议</h4>
                            <small>Complaints Proposals</small>
                            <img src="static/images/qq.png">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="col-xs-6">
                            <img class="img-responsive img-rounded" src="static/images/c_3.png">
                        </div>
                        <div class="col-xs-6">
                            <h4>在线招聘</h4>
                            <small>Online Recruiting</small>
                            <img src="static/images/qq.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

