<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-fw fa-stack-1x fa-info"></i>
             </span>
                公司介绍
            </h3>

            <div class="box-0">
                <div><img src="static/images/20140711103143.jpg"></div>

                <p>上海交大慧谷信息产业股份有限公司创立于1998年5月4日，是由<a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a>、上海科技投资有限公司、上海新徐汇（集团）有限公司等共同出资发起设立的股份有限公司。2002年7月，公司在香港<a
                        href="http://gem.ednews.hk/company/tc_default.htm?ref=0%3A" target="_blank">创业板</a>上市。公司集科研、生产、经营于一体，主要从事计算机网络与网络安全集成、应用软件开发、楼宇智能化系统集成，以及IT产品的代理销售等。
                </p>

                <p>
                    公司依托交大，在高校科技成果转化、高科技企业培育及孵化，高科技园区建设及服务等方面具备丰富的资源，目前公司业务覆盖政府、法院、公安、高校及企业等领域。公司一直以社会的需求作为自身业务发展的追求，公司严格遵循以制度创新为基础、以经营创新为先导、以技术创新为后盾、以产、学、研融合为模式的企业战略，注重人才培养、品牌建设、客户培育和市场开拓，在经济效益方面保持稳健、快速的增长。
                    公司充分利用上海交通大学的科研资源优势，以社会的需求作为资深业务发展的追求，公司严格遵循以制度创新为基础、以经营创新为先导、以技术创新为后盾、以产、学、研融合为模式的企业战略，注重人才培养、品牌建设、客户培育和市场开拓，在经济效益方面保持稳健、快速的增长。
                </p>

                <a class="detail" href="#/intro">了解更多>></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-fw fa-stack-1x fa-flag-o"></i>
             </span>
                公司公告
            </h3>
        </div>
        <div class="col-xs-6">
            <div class="box-2">
                <i class="fa fa-bar-chart-o fa-2x txt-green"></i>
                <a href="#/news">新闻动态</a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box-2">
                <i class="fa fa-comment-o fa-2x txt-red"></i>
                <a href="#/la">上市公告</a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box-1" ng-repeat="x in contentList1">
                <label ng-bind="x.eventTime|date:'yyyy-MM-dd HH:mm'"></label>
                <a href="#/news/{{x.id}}" ng-bind="x.title"></a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box-1" ng-repeat="x in contentList2">
                <label ng-bind="x.eventTime|date:'yyyy-MM-dd HH:mm'"></label>
                <a href="content/attachment/{{x.id}}" target="_blank" ng-bind="x.title"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-fw fa-stack-1x fa-inbox"></i>
             </span>
                公司业务
            </h3>
        </div>
        <div class="col-xs-6" ng-repeat="x in businessList">
            <div class="box-3">
                <section ng-style="{'background-image': 'url('+x.src+')'}">
                    <a ui-sref="{{'business.column'}}({columnId:x.id})">
                        <div>
                            <span class="title" ng-bind="x.title"></span>
                            <span class="sub-title" ng-bind="x.titleEn"></span>
                            <span class="content" ng-bind="x.subTitle + ' ' + x.content"></span>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>
            <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-fw fa-stack-1x fa-users"></i>
             </span>
                员工天地
            </h3>
        </div>
        <div class="col-xs-6 col-md-3" ng-repeat="x in employeeWorldList">
            <div class="box-4">
                <section ng-style="{'background-image': 'url('+x.src+')'}"></section>
                <label ng-bind="x.title"></label>
                <a class="btn btn-red">进入</a>
            </div>
        </div>
    </div>
</div>