<div class="row">
    <div class="col-xs-12" style="background-color: #f2f2f2;">
        <div class="container" style="padding: 20px 0;">
            <div><img src="static/images/i_1.png"></div>
            <h4>上海交大慧谷信息产业股份有限公司</h4>

            <p>上海交大慧谷信息产业股份有限公司创立于1998年5月4日，是由<a href="http://www.sjtu.edu.cn/" target="_blank">上海交通大学</a>、上海科技投资有限公司、上海新徐汇（集团）有限公司等共同出资发起设立的股份有限公司。2002年7月，公司在香港<a
                    href="http://gem.ednews.hk/company/tc_default.htm?ref=0%3A" target="_blank">创业板</a>上市。公司集科研、生产、经营于一体，主要从事计算机网络与网络安全集成、应用软件开发、楼宇智能化系统集成，以及IT产品的代理销售等。
            </p>

            <p>
                公司依托交大，在高校科技成果转化、高科技企业培育及孵化，高科技园区建设及服务等方面具备丰富的资源，目前公司业务覆盖政府、法院、公安、高校及企业等领域。公司一直以社会的需求作为自身业务发展的追求，公司严格遵循以制度创新为基础、以经营创新为先导、以技术创新为后盾、以产、学、研融合为模式的企业战略，注重人才培养、品牌建设、客户培育和市场开拓，在经济效益方面保持稳健、快速的增长。
            </p>

            <p>
                公司充分利用上海交通大学的科研资源优势，以社会的需求作为资深业务发展的追求，公司严格遵循以制度创新为基础、以经营创新为先导、以技术创新为后盾、以产、学、研融合为模式的企业战略，注重人才培养、品牌建设、客户培育和市场开拓，在经济效益方面保持稳健、快速的增长。
            </p>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <img class="img-responsive" src="static/images/i_2.png">
                    <img class="img-responsive" src="static/images/partner.png" style="margin-top: 100px;">
                </div>
                <div class="col-xs-6">

                    <dl class="dl-1">
                        <dt><span>软件产品登记证书</span></dt>
                        <dd ng-repeat="x in sprcList">{{x.text}}</dd>

                        <dt><span>软件著作权</span></dt>
                        <dd ng-repeat="x in sc1List">{{x.text}}</dd>
                        <dt><span>软件著作权</span></dt>
                        <dd ng-repeat="x in sc2List">{{x.text}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

