<div class="row">
    <div class="col-xs-12" style="background-color: #f8f8f8;">
        <div class="container">
            <img class="img-responsive" src="../../static/images/l_1.png">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="container" style="border-bottom: 1px solid #cccccc;">
            <img class="img-responsive" src="../../static/images/l_2.png">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="container">
            <ul class="list-1">
                <li ng-repeat="x in noticeList">
                    <i class="fa fa-file-pdf-o"></i>
                    <span ng-bind="x.eventTime|date:'yyyy-MM-dd HH:mm'"></span>
                    <a ng-bind="x.title"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

