<div class="row">
    <div class="col-xs-12" style="background-color: #f8f8f8;">
        <div class="container">
            <img class="img-responsive" src="static/images/l_1.jpg">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="container" style="border-bottom: 1px solid #cccccc;">
            <img class="img-responsive" src="static/images/l_2.jpg">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="container">
            <ul class="list-1">
                <li ng-repeat="x in contentList">
                    <i class="fa fa-file-pdf-o"></i>
                    <span ng-bind="x.eventTime|date:'yyyy-MM-dd HH:mm'"></span>
                    <a href="content/attachment/{{x.id}}" title="{{x.title}}" target="_blank" ng-bind="x.title"></a>
                </li>
            </ul>

            <label class="empty" ng-show="contentList.length==0">暂无数据</label>

            <label ng-show="!loading&&!complete" ng-click="fetchContentList()" class="btn btn-block btn-more" translate="MORE"></label>
            <label ng-show="loading" class="btn btn-block btn-more disabled">
                <i class="fa fa-spin fa-refresh fa-fw"></i>
                <span translate="LOADING"></span>
            </label>
        </div>
    </div>
</div>

