<div class="row news-column">

    <div class="col-xs-12">
        <div class="roll">
            <section>
                <h4 ng-bind="roll.title"></h4>
                <span>
                    <a ng-href="#/news/column/101" class="txt-blue">{{roll.column}}</a> &nbsp;&nbsp;&nbsp;&nbsp;{{roll.eventTime|date:'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;&nbsp;&nbsp;供稿：{{roll.source}}
                </span>

                <p ng-bind="roll.content"></p>
                <a ng-href="{{roll.url}}" class="btn btn-blue">查看更多</a>
            </section>
        </div>
    </div>

    <div class="col-sm-6 col-md-6" ng-repeat="x in newsList">
        <section>
            <h4 ng-bind="x.title"></h4>
            <span>
                <a ng-href="#/news/column/101" class="txt-blue">{{x.column}}</a> &nbsp;&nbsp;&nbsp;&nbsp;{{x.eventTime|date:'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;&nbsp;&nbsp;供稿：{{x.source}}
            </span>
            <a ng-href="{{x.url}}" class="btn btn-blue">查看更多</a>
            <b></b>

            <p ng-bind="x.content"></p>
        </section>
    </div>
</div>
